parameters:
	ignoreErrors:
		-
			message: "#^Class JazzMan\\\\ParameterBag\\\\ParameterBag extends generic class ArrayObject but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/ParameterBag.php
